.App {
  margin: auto;
  min-width: 1000px;
  width: 75%;
  margin: 100px auto 100px auto;
}

.Add-State,
.Remove-State,
.Remove-Transition {
  float: right;
}

.State-Table {
  border: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
  width: 300px;
  float: left;
}

.State-Table .State-Row {
  border: 1px solid black;
}

.Transition-Table,
.Transition-Table .Transition-Row {
  width: 100%;
}

.Transition-Direction {
  min-width: 70px;
}

.Next-State-Transition {
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Grid-Container {
  min-width: 500px;
  float: right;
}

.Grid {
  border: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
  margin: auto;
}

.Grid tr,
.Grid td {
  border: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
}

.Grid td {
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}

.Grid td[robot] {
  background-image: url('./robot.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.Grid td[top] {
  border-top: 5px solid black;
}

.Grid td[left] {
  border-left: 5px solid black;
}

.Grid td[right] {
  border-right: 5px solid black;
}

.Grid td[bottom] {
  border-bottom: 5px solid black;
}
